<div class="impressum">
    <h1>Impressum</h1>

    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <p>Lars&nbsp;Bo&szlig;;<br /> Kirchstra&szlig;e 32<br /> 72555 Metzingen</p>

    <h2>Kontakt</h2>
    <p>Telefon: +4915733150131<br /> E-Mail: lars.boss.1@web.de</p>

    <p>Quelle:&nbsp;<a href="https://www.e-recht24.de/impressum-generator.html" target="_blank" class="creditLink">https://www.e-recht24.de/impressum-generator.html</a></p>

    <h2>Haftungsauschluss</h2>
    <p>Es wird keine Haftung für die hier angezeigten Inhalte übernommen. Informationen und Inhalte von Dritten, sind ebenfalls aus der Haftung ausgeschlossen.</p>
</div>