<div class="form">
    <h1 class="heading">Counter</h1>
    <p class="info">Fill in the letter you are searching and the word you want to search in.</p>
    <form action="" method="post">
        <!--ggf. 'required' anfügen-->
        <input type="text" id="letter" class="text" name="letter" autofocus maxlength="1" minlength="1" placeholder="Letter">
        <input type="text" id="word" class="text" name="word" minlength="1" placeholder="Word">
        <input type="button" class="button" value="count">
    </form>
</div>